.homeContainer{
    display:flex;
    width:100%;
    /* overflow:hidden; */
    background-color:rgba(34, 247, 140, 0.05);
}


@media screen and (max-width: 600px) {
    .homeContainer{
      display:block;
    }

    ::-webkit-scrollbar{
        display: none;
    }

}