.message{
    display: flex;
    flex-direction: column;
    margin-top:15px;
}

.mesaageTop{
    display: flex;
    align-items: bottom;
}
.messageImg{
    height:37px;
    width:37px;
    border-radius: 50%;
    object-fit:cover;
    margin-right: 8px;
}

/* .messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
} */
.messageText{
    padding: 10px;
    margin-left: 8px;
    border-radius: 20px;
    max-width: 350px;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 134, 0);
}

.messageBottom{
    padding-left: 60px;
    font-size: 13px;
    color:rgb(49, 62, 245);
}



.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: rgb(0, 0, 0);
}

.message.own .mesaageTop{
    flex-flow: row-reverse;
}

.message.own .messageText{
    padding: 10px;
    margin-right: 8px;
    border-radius: 20px;
    max-width: 350px;
    color: rgb(0, 0, 0);
    background-color:rgb(250, 144, 13);
}

.message.own .messageBottom{
    padding-right: 60px;
    font-size: 13px;
    color:rgb(184, 15, 15);
}

.message.own .mesaageTop{
    display: flex;
    align-items: flex-end;
}

